<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Servicios</title>
	<!-- LINK BS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<!-- LINK ARCHIVO DE ESTILO CSS -->
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<!-- CONTENEDOR PRINCIPAL FLUID -->
	<div class="container-fluid">
		<!-- PRIMERA ROW DEL HEADER -->
		<header class="row">
			<div class="col-lg-12 col-sm-12">
				<div class="container">
    		       <div class="row">
    			      <div class="col-md-12 icopadding">
    				    <img src="../assets/img/eos.png" class="rounded float-left" alt="ethereum">
						<img src="../assets/img/eos.png" class="rounded float-right" alt="ethereum">
    		     	  </div>
    	     	  </div>
    	       </div>
			</div>
		</header>
		<!-- SEGUNDA ROW -->
		<div class="row navegacion">
			<div class="col-lg-12 col-sm-12">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
				  <a class="navbar-brand" href="../index.html"><img src="../assets/img/icono.png" alt=""></a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				    <div class="navbar-nav">
				      <a class="nav-link active" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
				      <a class="nav-link" href="servicios.html">Servicios</a>
				      <a class="nav-link" href="#">Productos</a>
				      <a class="nav-link" href="#">Nosotros</a>
				      <a class="nav-link" href="#">Contacto</a>
				    </div>
				  </div>
				</nav>
			</div>
		</div>
		<!-- TERCERA ROW MAIN -->
		<main class="row">
				<div class="col-lg-2 col-sm-12 d-flex justify-content-center">
					<div class="card" style="width: 18rem;">
						  <img src="../assets/img/paisaje.jpg" class="card-img-top" alt="...">
						  <div class="card-body">
						    <h5 class="card-title">Card title</h5>
						    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						    <a href="#" class="btn btn-primary">Go somewhere</a>
						  </div>
					</div>
				</div>
				<div class="col-lg-8 col-sm-12 d-flex justify-content-center">
					<div class="jumbotron">
						  <h1 class="display-4">Hello, world!</h1>
						  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
						  <hr class="my-4">
						  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
						  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
					</div>
				</div>
				<div class="col-lg-2 col-sm-12 d-flex justify-content-center">
					<div class="card" style="width: 18rem;">
					    <img src="../assets/img/paisaje.jpg" class="card-img-top" alt="...">
					    <div class="card-body">
					     <h5 class="card-title">Card title</h5>
					     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					     <a href="#" class="btn btn-primary">Go somewhere</a>
					  </div>
					</div>
				</div>
		</main>
		<!-- CUARTA ROW FOOTER -->
		<div class="row">
			<div class="col-lg-12 col-sm-12">
				<div class="card text-center">
					  <div class="card-header">
					    Featured
					  </div>
					  <div class="card-body">
					    <h5 class="card-title">Special title treatment</h5>
					    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
					  </div>
					  <div class="card-footer text-muted">
					    2 days ago
					  </div>
				</div>
			</div>
		</div>
		<footer class="row iconfoo">
			<div class="col-lg-12 col-sm-12">
				<ul class="list-inline text-center">
					  <li class="list-inline-item"><a href=""><img src="https://icongr.am/fontawesome/facebook.svg?size=30&color=180a24" alt=""></a></li>
					  <li class="list-inline-item"><a href=""><img src="https://icongr.am/fontawesome/instagram.svg?size=30&color=180a24" alt=""></a></li>
					  <li class="list-inline-item"><a href=""><img src="https://icongr.am/fontawesome/linkedin-square.svg?size=30&color=180a24" alt=""></a></li>
					  <li class="list-inline-item"><a href=""><img src="https://icongr.am/fontawesome/twitter.svg?size=30&color=180a24" alt=""></a></li>
				</ul>	  
			</div>
		</footer>
    </div>
	<!-- LINK SCRIPT JS BOOTSTRAP BUNDLE -->
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>